/* ADMIN */
@font-face {
    font-family: montserrat;
    src: url("../assets/Montserrat/Montserrat-Light.ttf");
    font-weight: normal;
}
nav {
    font-family: montserrat, sans-serif;
}
.logo{
    width: 60px;
    height: 60px;
    background: url("../assets/logo.png");
    background-size: 100%;
}
.dropdown-item{
    padding: 10px;
}
body{
    background: #212529;
}

.MyConteneur{
    width: 100vw;
    min-width: 1000px;
}
.stock,.categories,.couleurs,.genres,.tailles,.artistes,.ajoutTShirt,.add{
    margin-left: 1%;
   /* background: #454d55; background: #333;*/
    background: #343a40;
    width: 99%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.add{
   margin-bottom: 100px;
}
.stockImg{
    filter: invert(1);
}
button:disabled .stockImg{
    filter: invert(30%);
}
.myTable{
    width: 1100px;
    margin: auto;
}
.myMiddleTable th{
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}
.mySmallTable{
    width: 300px;
    margin-left: 50px;
}
.myMiddleTable{
    width: 500px;
    margin-left: 50px;
}
.ajout{
    margin: auto;
    width: 650px;
}

h2{
    color: white;
    padding: 30px 0 30px 0;
    font-weight: bold;
    font-size: 24px;
}
h2>span{
    display: inline-block;
    padding: 0 0 0 20px ;
    text-transform: uppercase;
}
input[type="text"] {
    background: #343a40;
    border-radius: 5px;
    color: white;
}
input[type="file"]{
    color: white;

}
input[type="textarea"]{
    resize: none;
    background:#343a40;
    border-radius: 5px;
    color: white;
}
label{
    color: white;
    padding-right: 20px;
}
.addTab td{
    padding: 20px;
    text-align: right;
}
.add{
    padding: 50px 20px 50px 20px;
}

/* Ajout T-shirt */

.imgAdd{
    display: none;
}
.error{
    color: red;
}
.notError{
    color: greenyellow;
}
.message{
    color: #4b6d72;
    font-size: 14px;
    font-weight: bold;
}

/*
.adminNav{
    color: white;
    height: 100vh;
}

.log{
    text-align: right;
    padding-top: 10px;
    color: white;
    display: inline-block;
    width: 50px;
}
.profil{
    filter: invert(1);
    width: 25px;
}
.adminNav li a:hover{
    color: #4b6d72;
    cursor: pointer;
}
.adminNav>li a{
    display: inline-block;
    width: 100%;
    padding: 60px 0 0 20px;
    border-bottom: white 1px solid;
    color: white;
}
.options>a{
    color: white;
}
.gestionStock{
    padding-bottom: 10px;
}

.options{
    margin: 10px 0 0 40px ;
    font-size: 12px;
}

.adminMenu{
    position: fixed;
    padding: 10px 10px 20px 10px;
    width: 200px;
    background: black;
    right: 0;
    top: 00px;
    height: 100vh;
}

.adminMenu>div{
    height: 30px;
    width: 60%;
    padding-left: 35%;
}

 */