@font-face {
    font-family: montserrat;
    src: url("../assets/Montserrat/Montserrat-Light.ttf");
    font-weight: normal;
}
body{
    font-family: montserrat;
}
.flex{
    display: flex;
}
.f-space-between{
    justify-content: space-between;
}
.f-center{
    justify-content: center;
}
.f-columns{
    flex-direction: column;
}
/* HEADER */
header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    background: white;
}
body{
    padding-top: 90px;
}
.logo{
    width: 70px;
    height: 70px;
}
.main-header{
    width: 95vw;
    height: 50px;
    padding: 20px 20px 20px 20px;
}

.mainNav{
    width: 70vw;
    height: 100%;
    margin: auto;
}
.mainNav ul li{
    padding: 20px 20px 15px 20px;
}
.mainNav ul li a{
    color: black;
    font-family: montserrat;
}
.mainNav ul li a:hover{
    color: #4b6d72;
}

.user_tools{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    stroke-width: 20px
}

.user svg:hover{
    fill: #4b6d72;
}

/* INDEX */

.recents,.populaires{
    margin: auto;
    max-width: 1000px;
    padding: 20px 30px 20px 30px;
    border: solid 1px black;
}

.main-header div:nth-of-type(2){
    height: 100%;
}
.mainIndex{
    margin: 50px auto 50px auto;
}
.user{
    width: 80px;
    height: 100%;
}

